@media only screen and (width: 1024px) {
  .category-list .subcats {
    left: 90% !important;
    width: 100%;
  }

  .banner .category-list .subcats span {
    display: none;
  }

  .category-list .subcats .close {
    display: block;
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: #a6034f;
  }

  .message-block {
    width: 70%;
  }

  .banner .category-list .subcats li {
    width: 48%;
  }

  .banner .category-list .subcats li.text-center {
    text-align: left;
  }

  .message-block h1 {
    font-size: 40px;
    line-height: 53px;
  }

  .message-block .block {
    padding-top: 5px;
  }

  .message-block .block span {
    font-size: 38px;
  }

  .message-block .with-padding {
    padding-top: 0;
  }

  .product-images .flex {
    flex-direction: column-reverse;
  }

  .product-images .flex {
    flex-direction: column-reverse;
  }

  .product-images .thumbnails {
    flex-direction: row;
    justify-content: space-around;
  }

  .page-title-alt {
    font-size: 20px;
    margin-top: 1em;
  }

  .product-images {
    padding-right: 1em;
  }

  .product-detail .details h1 {
    font-size: 30px;
  }

  .product-detail .details h1 small {
    font-size: 20px;
  }

  .product-detail .details .bottom {
    margin-top: 2em;
  }

  .product-detail .details .right {
    margin-left: 0;
    padding-left: 15px;
  }

  .product-detail .details .left {
    padding-right: 15px;
    width: 49%;
  }

  .details {
    width: 95%;
  }

  .details .bottom .block {
    text-align: center;
    justify-content: center;
  }

  .order-actions {
    justify-content: space-around;
  }

  .order-actions .add-to-cart,
  .order-actions .add-to-wishlist {
    margin-top: 1em;
  }

  .product-images .main-image img {
    object-fit: cover;
    object-position: center center;
  }

  .single-review .user {
    flex-direction: column;
  }

  .fixed-width {
    padding: 1em 3em;
  }

  .product-images .thumbnails img {
    margin: 3px;
  }

  .products-section .single-product {
    width: 31.99%;
  }

  .top-nav .left {
    flex: 0 1 32%;
  }

  .top-nav .right {
    flex: 0 1 62%;
  }

  .search-block {
    margin-right: 5px;
  }

  .modal-content {
    width: 60%;
  }

  .page .banner-card {
    width: 340px;
  }

  .modal-content.modal-large {
    width: 98%;
  }

  .image-wrap {
    width: 25%;
  }

  .shipping-details {
    width: 95%;
    margin-top: 15px;
  }

  .cart-detail .n8 {
    flex: 0 1 69.44%;
    width: 70%;
  }

  .cart-detail .n4 {
    flex: 0 1 29.44%;
    width: 30%;
  }

  .shipping-details {
    margin-top: 0px;
  }

  .shipping-details .order-summary {
    width: 100%;
  }

  .order-summary {
    min-height: 210px;
  }

  .section-title span.after,
  .section-title span.before,
  .section-title::after,
  .section-title::before {
    display: none;
  }

  .card {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .banner .n8 {
    flex: 0 1 51.49%;
  }

  .banner .n4 {
    flex: 0 1 48.49%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .shipping-details {
    width: 95%;
    margin-top: 15px;
  }

  .cart-detail .n8 {
    flex: 0 1 59.44%;
    width: 60%;
  }

  .cart-detail .n4 {
    flex: 0 39.44%;
    width: 40%;
  }

  .shipping-details .order-summary {
    width: 100%;
  }

  .shipping-details-wrapper .shipping-details {
    width: 100%;
  }

  .icon-text {
    margin-right: 10px;
  }

  .info a {
    font-size: 12px;
  }

  .shipping-details .table td {
    padding-left: 0;
    padding-right: 0;
  }

  .shipping-details .table span {
    font-size: 15px;
  }

  .modal-content.modal-large {
    width: 98%;
  }

  .image-wrap {
    width: 25%;
  }

  .product-images .flex {
    flex-direction: column-reverse;
  }

  .product-images .thumbnails {
    flex-direction: row;
    justify-content: space-around;
  }

  .page-title-alt {
    font-size: 20px;
    margin-top: 1em;
  }

  .product-images {
    padding-right: 1em;
  }

  .product-detail .details h1 {
    font-size: 30px;
  }

  .product-detail .details h1 small {
    font-size: 20px;
  }

  .product-detail .details .bottom {
    margin-top: 2em;
  }

  .product-detail .details .right {
    margin-left: 0;
    padding-left: 15px;
  }

  .product-detail .details .left {
    padding-right: 15px;
    width: 49%;
  }

  .details {
    width: 95%;
  }

  .details .bottom .block {
    text-align: center;
    justify-content: center;
  }

  .order-actions {
    justify-content: space-around;
  }

  .order-actions .add-to-cart,
  .order-actions .add-to-wishlist {
    margin-top: 1em;
  }

  .product-images .main-image img {
    height: 360px;
    object-fit: cover;
    object-position: center center;
  }

  .single-review .user {
    flex-direction: column;
  }

  .products-carousel,
  .footer .footer-last,
  .footer .footer-main,
  .top-nav,
  .banner,
  .icon-wrapper {
    padding: 1em 2em;
  }

  .message-block {
    padding: 1em 1em;
    width: 65%;
  }

  .testimonial .arrow-left {
    left: 5%;
  }

  .testimonial .arrow-right {
    right: 5%;
  }

  .products-carousel .prev-slide {
    left: 10px !important;
  }

  .products-carousel .next-slide {
    right: 10px !important;
  }

  .section-title::before,
  .section-title::after,
  .section-title span {
    display: none;
  }

  .top-nav .n6.left {
    flex: 0 1 41.49%;
  }

  .top-nav .n6.right {
    flex: 0 1 58.49%;
    display: flex;
  }

  .top-nav .search-block {
    flex: 0 1 50%;
  }

  .top-nav .icon-labels {
    flex: 0 1 46%;
  }

  .banner .card {
    width: 100%;
  }

  .banner .n8 {
    flex: 0 1 51.49%;
  }

  .banner .n4 {
    flex: 0 1 48.49%;
  }

  .modal-content {
    width: 100%;
    margin: 10px;
  }

  .fixed-width {
    padding: 1em 1em;
  }

  .category-list .subcats {
    width: 100%;
  }

  .category-list .subcats .close {
    display: block;
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: #a6034f;
  }

  .banner .category-list .subcats li {
    width: 100%;
  }

  .category-list {
    width: 85%;
  }

  .category-list .subcats {
    left: 120% !important;
  }

  .banner .category-list .subcats span {
    display: none;
  }

  .banner .category-list .subcats li.text-center {
    text-align: left;
  }

  .main-carousel .single-category img {
    height: 200px;
  }

  .nav-btn {
    padding: 0px 6px;
    font-size: 20px;
    top: 38%;
  }

  .btn-order-now {
    margin-right: 0em;
    border-radius: 3px;
    font-size: 13px;
  }

  .main-carousel .category-title {
    font-size: 12px;
    padding: 10px 15px;
    left: 0;
    right: 0;
  }

  .products-section .single-product {
    width: 31.33%;
  }

  .message-block h1 {
    font-size: 40px;
    line-height: 53px;
  }

  .message-block .block {
    padding-top: 5px;
  }

  .message-block .block span {
    font-size: 38px;
  }

  .message-block .with-padding {
    padding-top: 0;
  }

  .btn-shop-now {
    padding: 10px 18px;
  }
}

@media only screen and (max-width: 479px) {
  .img-responsive {
    width: 100%;
  }

  .n6,
  .n4,
  .n3,
  .n8 {
    flex: 0 1 100%;
  }

  .products-carousel,
  .footer .footer-last,
  .footer .footer-main,
  .top-nav,
  .search-block,
  .banner,
  .icon-wrapper {
    padding: 0.5em 0.5em;
  }

  .top-nav .right {
    flex-wrap: wrap-reverse;
  }

  .search-block,
  .icon-labels {
    flex: 0 1 100%;
  }

  .search-block {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .top-nav .left,
  .top-nav .right,
  .footer .footer-last .text-left,
  .footer .footer-last .text-right {
    text-align: center;
    padding-top: 10px;
  }

  .search-block input {
    width: 100%;
    padding: 12px 10px;
  }

  .search-block .icon {
    right: 20px;
    top: 20px;
  }

  .icon-wrapper h1 {
    font-size: 40px;
  }

  .icons-wrapper {
    padding-right: 1em;
  }

  .banner-right {
    flex-wrap: wrap-reverse;
  }

  .banner .card {
    width: 100%;
    z-index: 99999;
  }

  .category-section {
    padding: 0 1em;
  }

  .main-carousel .owl-item .single-category img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .section-title::before,
  .section-title::after,
  .section-title span {
    display: none;
  }

  .section-title {
    font-size: 40px;
  }

  .products-carousel {
    padding: 1em;
  }

  .products-carousel .prev-slide {
    left: 0px;
  }

  .products-carousel .next-slide {
    right: 0px;
  }

  .rprice {
    border-right: none;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .events img {
    height: 400px;
  }

  .message-block {
    width: 96%;
    left: 2%;
    padding: 1em;
  }

  .message-block h1,
  .message-block .block span {
    font-size: 37px;
    line-height: 42px;
  }

  .message-block .block {
    flex-wrap: nowrap;
  }

  .testimonial .single-item {
    padding: 1em 1em;
  }

  .testimonial .arrow-left {
    left: 2%;
  }

  .testimonial .arrow-right {
    right: 2%;
  }

  .testimonial h1 {
    font-size: 38px;
  }

  .footer .footer-main,
  .footer .footer-last {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }

  .qr-block,
  .app-links {
    margin-top: 1em;
  }

  .footer-last .copyright-wrap {
    padding-top: 1em !important;
  }

  .m-w-100 {
    width: 100% !important;
  }

  .login-wrapper .card-heading .n6 {
    flex: 0 1 49.99%;
    text-align: center;
  }

  .tab {
    padding: 1em;
  }

  .login-wrapper .wrapper .n6 {
    margin-bottom: 1em;
  }

  .pt-2 {
    padding-top: 0;
  }

  .breadcrumb-wrapper img {
    height: 120px;
  }

  .page .page-banner {
    padding: 1em 1em;
  }

  .page .page-banner img {
    width: 210px;
  }

  .page-banner .flex {
    flex-wrap: nowrap;
  }

  .page-banner .n8 {
    flex: 0 1 66.66%;
  }

  .page-banner .n4 {
    flex: 0 1 33.33%;
  }

  .page-title {
    font-size: 26px;
    width: 50%;
  }

  .products-section .single-product {
    width: 100%;
  }

  .modal-content {
    width: 100%;
    margin: 10px auto;
  }

  .fixed-width {
    padding: 1em 1em;
  }

  .page-title-alt {
    font-size: 16px;
    margin-top: 0.8em;
  }

  .product-images {
    padding-right: 0;
  }

  .product-images .flex.no-align {
    flex-direction: column-reverse;
  }

  .product-images .main-image img {
    height: 360px;
  }

  .product-images .thumbnails {
    justify-content: center;
  }

  .details, .shipping-details {
    width: 100%;
    margin-top: 1em;
  }

  .product-detail .details .left,
  .product-detail .details .right {
    width: 47%;
  }

  .product-detail .details .left {
    margin-right: 10px;
  }

  .product-detail .details .right {
    margin-left: 10px;
  }

  .icon-wrap {
    font-size: 13px;
  }

  .card-options {
    width: 100%;
  }

  .order-actions {
    justify-content: space-evenly;
  }

  .order-actions .add-to-cart,
  .order-actions .add-to-wishlist {
    margin-top: 1em;
  }

  .modal-content.modal-large {
    width: 100%;
  }

  .modal-large .toprow {
    flex-direction: column;
  }

  .cart-product,
  .order-summary {
    width: 100%;
  }

  .image-wrap {
    width: 29%;
  }

  .prod {
    width: 58%
  }

  .form-block .left {
    padding-right: 0em;
  }

  .form-block .right {
    padding-left: 0;
  }

  .cart-wrapper {
    display: contents;
  }

  .fixed-tbl-column {
    min-width: fit-content;
  }

  .page .banner-card,
  .shipping-details-wrapper {
    /* width: 100%; */
  }

  .shipping-details-wrapper .shipping-details {
    width: 100%;
  }

  .reviews-list {
    padding: 1em;
    margin-right: 0;
  }

  .single-review .user,
  .single-review .review {
    width: 100%;
    margin-top: 1em;
  }

  .single-review .user .block {
    padding-left: 1em;
  }

  .single-review .review .block {
    margin-left: 0;
  }

  .review-form {
    margin-top: 1em;
  }

  .banner .category-list .subcats span,
  .banner .category-list .subcats span::after {
    display: none;
  }

  .category-list .subcats.active {
    left: -1% !important;
    width: 100%;
    z-index: 1111;
    background-color: snow;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    top: 2.8em;
  }

  .banner .category-list .subcats li {
    width: 100%;
    padding-bottom: 15px;
    padding-right: 20px;
  }

  .category-list .subcats a {
    display: block;
  }

  .category-list .subcats .close {
    display: block;
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: #a6034f;
  }
}