/* Vars */
:root {
  --default: #a70250;
  --orange: #e83b13;
  --green: #1e9e9e;
}

/* Fonts  */
@font-face {
  font-family: "Great Vibes";
  src: url("../fonts/great-vibes/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Costa Rica";
  src: url("../fonts/costa-rica/CostaRicaPersonalUse.ttf");
}

@font-face {
  font-family: "Roboto-Medium", sans-serif;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

/* Styling start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Medium", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
  transition-property: color, background-color, border-color, opacity;
}

button:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  border-spacing: 0;
}

table.has-border tr {
  border: 1px solid lightgrey;
}

td,
th {
  padding: 15px 10px;
  min-width: 20px;
}

table.top {
  margin-top: 2em;
}

.table-responsive {
  overflow-x: scroll;
}

a {
  transition: 0.4s;
  transition-property: color, background-color, border-color, opacity;
  text-decoration: none;
  cursor: pointer;
}

.active {
  transition: 0.4s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

a label {
  cursor: pointer;
}

input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  transition: 0.4s;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type="checkbox"] {
  accent-color: var(--default);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.icon {
  color: #f16342;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mb-5 {
  margin-bottom: 5em;
}

/* Common */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.no-align {
  align-items: flex-start !important;
}

.n6 {
  flex: 0 1 49.99%;
}

.n8 {
  flex: 0 1 66.66%;
}

.n3 {
  flex: 0 1 24.24%;
}

.n4 {
  flex: 0 1 33.33%;
}

.n12 {
  flex: 0 1 100%;
}

.p2 {
  padding: 2em;
}

.icon-label {
  margin-left: 10px;
}

.icon-label span {
  margin-left: 10px;
}

.select-no-border {
  border: none;
  background-color: transparent;
  color: var(--default);
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.bold {
  font-weight: bold;
}

.hide {
  /* visibility: hidden; */
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
/*::-webkit-scrollbar-track {
  background: #d28dad;
}*/
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f16342;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: orange;*/
  cursor: pointer;
}

/* Styles */
.close-icon {
  cursor: pointer;
}

.top-nav {
  background-color: #f3f3f3;
  padding: 5px 5em;
}

.top-nav .left select {
  border-color: #d8c6c6;
  color: darkgray;
  padding: 5px 0;
  cursor: pointer;
}

.top-nav .left label {
  color: gray;
  font-size: 14px;
}

.top-nav .right {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2em;
}

.search-block {
  position: relative;
}

.search-block input {
  border-radius: 20px;
  padding: 7px 10px;
  border: 1px solid #d8c6c6;
}

.search-block .icon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #ada8a8;
}

.top-nav .icon-labels {
  padding-top: 8px;
}

.icon-labels .icon-label {
  font-size: 14px;
  color: grey;
}

.icon-reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.icon-list {
  margin-top: 2em;
}

.icon-list li {
  padding: 5px 0;
}

.icon-list li a {
  text-transform: uppercase;
  color: #a70250;
  font-weight: 500;
  font-size: 18px;
  margin-left: 8px;
}

.icon-list li .icon-label {
  display: flex;
  width: fit-content;
}

.icon-list li a:hover {
  font-weight: 600;
}

.icon-list li a img {
  width: 35px;
  height: 35px;
}

.icon-list li a span {
  margin-top: 8px;
  margin-left: 10px;
}

.slider-wrapper .bannerimg {
  width: 100%;
  /* height: 772px; */
  height: 94vh;
  object-fit: cover;
}

.icon-wrapper {
  padding-left: 1em;
}

.icon-wrapper h1 {
  color: #a70250;
  font-family: "Costa Rica";
  font-size: 50px;
  font-weight: 500;
}

.icon-wrapper img {
  width: 70%;
}

.banner {
  padding: 1.5em 4em;
  top: 0;
  left: 0;
  right: 0;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.icons-wrapper {
  padding-right: 2em;
  margin-top: -50px;
}

.icons-wrapper .links {
  background-color: #fafcf9;
  width: 100px;
  text-align: center;
  border-radius: 25px;
  padding: 17px 10px;
}

.icons-wrapper .links .fa-shopping-cart {
  font-size: 12px;
  color: #3c3636;
}

.icons-wrapper .links .fa-bars {
  font-size: 24px;
  color: #3c3636;
  margin-left: 15px;
}

.badge {
  background-color: #a70250;
  color: snow;
  font-size: 12px;
  border-radius: 50%;
  padding: 1px 5px;
  font-weight: 600;
  left: 7px;
  bottom: 12px;
}

.icons-wrapper .links a .fas:hover {
  transform: scale(1.1);
}

.scroll {
  position: absolute;
  border: 1px solid #7d7676;
  top: auto;
  bottom: 8em;
  left: 50%;
  border-radius: 4rem;
  height: 40px;
  width: 24px;
  z-index: 9;
  text-align: center;
  padding: 8px 0 10px;
  margin-left: -12px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}

.scroll:before,
.scroll:after {
  content: "";
  display: block;
  margin: 0 auto;
}

.scroll:before {
  width: 2px;
  background-color: #7d7676;
  height: 30px;
  margin-top: 12px;
}

.scroll:after {
  width: 6px;
  height: 6px;
  border-right: 1px solid #a70250;
  border-bottom: 1px solid #a70250;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -7px;
}

.card {
  margin-top: 2em;
  background-color: #fafcf9;
  padding: 1.5em 1.5em 0.5em 1.5em;
  border: 1px solid #fafcf9;
  width: 50%;
  right: -1em;
  text-align: left;
  z-index: 99;
}

.card.has-shadow {
  box-shadow: 0px 2px 10px 5px #ccc;
}

.card.has-border {
  border: 2px solid #dbdbdb;
}

.card.no-padding {
  padding: 0;
}

.card-heading h1 {
  font-family: "Great Vibes";
  font-size: 40px;
  font-weight: 500;
  color: #232121;
}

.card-text {
  padding: 0em 10px 1em 0;
  border-bottom: 1px solid #dacece;
  max-height: 220px;
  overflow: auto;
}

.card-text p {
  font-size: 12px;
  line-height: 18px;
  color: gray;
  font-weight: 300;
}

.category-list {
  margin-top: 1em;
}

.category-list td {
  padding: 1px 0;
}

.category-list .subcats {
  top: -9px;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: rgb(255 250 250 / 77%);
  z-index: 999;
  display: none;
  left: 52%;
  width: 47em;
}

.category-list .subcats.active {
  display: flex;
}

.category-list .link-wrapper a {
  text-transform: uppercase;
  color: var(--default);
  font-weight: 500;
  font-size: 17px;
  padding-left: 12px;
  display: -webkit-box;
  display: inline-flex;
  align-items: center;
}

.category-list .link-wrapper a:hover {
  font-weight: 600;
}

.banner .category-list .subcats li {
  width: 33.33%;
  padding-bottom: 5px;
}

.banner .category-list .subcats li.center {
  text-align: center;
  text-align: -webkit-center;
}

.banner .category-list .subcats li a {
  text-align: left;
  text-align: -webkit-left;
}

.banner .category-list .subcats span {
  position: absolute;
  width: 100px;
  border-bottom: 1px solid var(--default);
  top: 35%;
  left: -14.1%;
}

.banner .category-list .subcats span::after {
  content: "";
  position: absolute;
  border: 4px solid var(--default);
  border-radius: 50%;
  width: 0;
  margin-top: -3px;
  right: 0;
}

.card-footer {
  padding: 1em 0 0.2em 0;
}

.card-footer .top .block {
  display: block;
  padding: 7px 0;
}

.block i {
  margin-right: 5px;
}

.block label {
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
}

.qr-block img {
  border-radius: 14px;
  margin-right: 1em;
}

.app-links {
  margin-top: 2em;
}

.socials {
  padding: 1em 0;
}

.socials ul li {
  padding: 5px 0;
}

.socials span {
  color: gray;
  margin-left: 15px;
  font-size: 12px;
}

.socials .fas {
  font-size: 12px;
}

.social-icons {
  padding-top: 1em;
}

.social-icons a {
  margin-right: 4px;
  color: snow;
  border-radius: 50%;
  font-size: 10px;
}

.social-icons a:hover {
  text-transform: scale(1.1);
  font-size: 11px;
}

.social-icons .fb-icon {
  background-color: #5050e8;
  padding: 6px 6px 7px 10px;
}

.social-icons .tw-icon {
  background-color: #4a99b9;
  padding: 6px 3px 7px 8px;
}

.social-icons .ln-icon {
  background-color: #0e76a8;
  padding: 6px 5px 7px 8px;
}

.social-icons .yt-icon {
  background-color: #ff0000;
  padding: 6px 7px 7px 6px;
}

.card .close-icon {
  top: 1px;
  left: 3px;
}

/* Categories carousel */
.category-section {
  padding: 0 3.6em;
  margin-top: -9.8em;
}

.main-carousel .flickity-prev-next-button {
  border: 3px solid grey;
  color: grey;
  width: 35px;
  height: 35px;
  font-weight: 600;
}

.main-carousel .flickity-prev-next-button.previous {
  left: -10px;
}

.main-carousel .flickity-prev-next-button.next {
  right: -10px;
}

.main-carousel .single-category {
  margin: 0 13px;
  border: 11px solid #f9f6f6;
  border-radius: 50%;
  overflow: hidden;
}

.main-carousel .single-category img {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.main-carousel .category-title {
  bottom: 0px;
  left: 8px;
  right: 8px;
  text-transform: uppercase;
  color: darkgrey;
  background-color: #f9f6f6;
  height: 80px;
  padding: 10px;
}

.nav-btn {
  position: absolute;
  border: 3px solid #a29b9b;
  border-radius: 50%;
  padding: 0px 9px;
  font-size: 26px;
  color: #a29b9b;
  top: 42%;
}

.nav-btn.prev-slide {
  left: -10px;
}

.nav-btn.next-slide {
  right: -10px;
}

/* Products section */
.section-title {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: "Great Vibes";
  color: #921741;
}

.section-title span {
  position: absolute;
  border: 4px solid #921741;
  border-radius: 50%;
  width: 0;
  top: 30%;
}

.section-title span.before {
  left: 28.6%;
}

.section-title span.after {
  right: 28.6%;
}

.section-title::before,
.section-title::after {
  position: absolute;
  content: "";
  width: 100px;
  border-bottom: 1px solid #921741;
  top: 35%;
}

.section-title::before {
  left: 21.5%;
}

.section-title::after {
  right: 21.5%;
}

.products-carousel {
  padding: 2em 4.5em;
}

.products-carousel .prev-slide {
  left: 45px;
}

.products-carousel .next-slide {
  right: 45px;
}

.single-product {
  border: 1px solid darkgrey;
  padding: 5px;
}

.single-product img {
  height: 260px;
  width: 100%;
}

.single-product .bottom {
  padding: 10px 10px;
}

.text-grp icon {
  margin-right: 5px;
}

.rprice {
  border-right: 1px solid darkgrey;
}

.cprice {
}

.block {
  padding-top: 5px;
}

.btn-wraps {
  justify-content: center;
  padding: 11px 0px 0px;
}

.btn-order-now {
  padding: 7px 10px;
  background: var(--default);
  color: snow;
  text-transform: uppercase;
  margin-right: 1em;
  border-radius: 3px;
  font-size: 13px;
}

.price-type {
  padding-left: 5px;
}

.btn-order-now:hover {
  background: transparent;
  border: 1px solid var(--default);
  color: var(--default);
}

.add-to-wishlist {
  margin-left: 0.5em;
  background-color: #f16342;
  color: snow;
  font-size: 19px;
  border-radius: 50%;
  padding: 6px 8px;
}

.btn-order-now i {
  margin-right: 6px;
}

.events {
  margin: 2em 0;
}

.events img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.message-block {
  text-align: center;
  top: 13%;
  bottom: 13%;
  padding: 3em 1em;
  border: 12px solid #fff;
  left: 5%;
  color: snow;
  background-color: #a70250;
  width: 45%;
}

.message-block h1 {
  font-size: 42px;
  text-transform: capitalize;
  line-height: 55px;
}

.message-block .block {
  margin-top: 15px;
}

.message-block .with-padding {
  padding-top: 12px;
  padding-left: 2em;
}

.message-block .block span {
  font-size: 40px;
  font-weight: 600;
}

.btn-shop-now {
  background-color: #d04373;
  padding: 8px 18px;
  border: 3px solid #fff;
  font-size: 12px;
  color: #fff;
}

.btn-shop-now:hover {
  font-size: 13px;
}

/* Testimonials */
.testimonial {
  max-width: 900px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  overflow: hidden;
}

.testimonial h1 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 42px;
  text-transform: uppercase;
}

@keyframes slidein-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.testimonial .single-item {
  padding: 2em 5em;
  display: none;
  animation: fade-out 1s;
}

.testimonial .single-item.active {
  display: block;
}

.testimonial .single-item img {
  border-radius: 50%;
  border: 3px solid lightgrey;
  object-fit: cover;
  object-position: center;
}

.testimonial .message {
  padding: 2em 1em;
  color: grey;
  line-height: 26px;
}

.testimonial .client {
  color: grey;
  font-size: 13px;
}

.testimonial .client span {
  color: #a70250;
  margin-right: 10px;
}

.testimonial .btn-arrow {
  top: 25%;
  cursor: pointer;
}

.testimonial .arrow-left {
  left: 0%;
}

.testimonial .arrow-right {
  right: 0%;
}

.testimonial .icon {
  color: grey;
  font-size: 20px;
}

/* Footer */
.footer .footer-main {
  padding: 1em 12em 3em 12em;
  background-color: #a70250;
  color: snow;
}

.footer .footer-last {
  padding: 1em 12em;
  color: grey;
}

.footer .footer-main .logo {
  font-family: "Costa Rica";
  font-size: 40px;
  margin-bottom: 15px;
}

.footer .list-block h1 {
  color: #dae3e8;
  font-size: 23px;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.footer .list-block ul li {
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
}

.footer .list-block ul a {
  color: #dae3e8;
}

.footer .footer-last h1 {
  font-size: 20px;
  font-weight: 500;
  color: darkslategrey;
}

.footer .footer-last .right {
  font-size: 14px;
}

.footer-social-icons {
  padding-top: 1em;
}

.footer-social-icons a {
  border-radius: 50%;
  border: 2px solid;
}

.footer-social-icons .fb {
  border-color: #4267b2;
  color: #4267b2;
  padding: 3px 7px;
}

.footer-social-icons .in {
  border-color: #c76d7d;
  color: #c76d7d;
  padding: 3px 7px;
}

.footer-social-icons .yt {
  border-color: #ff0000;
  color: #ff0000;
  padding: 3px 5px;
}

/* Login Page */
.input {
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #dbdbdb;
  margin-block: 1em;
  width: 100%;
  padding: 6px 6px;
  color: grey;
  font-size: 14px;
}

.input:focus {
  border-color: #f16342;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-login {
  color: #d04373;
  font-weight: 600;
  border: 2px solid #d04373;
  padding: 0.75em 1em;
  width: 100%;
  text-transform: uppercase;
}

.btn-login:hover {
  color: snow;
  border: 2px solid #dbdbdb;
  background-color: #d04373;
}

.login-wrapper {
  min-height: 520px;
  color: grey;
}

.login-wrapper .card {
  width: 35%;
}

.login-wrapper .card-heading {
  padding-top: 1.5em;
  border-bottom: 2px solid #dbdbdb;
  text-align: center;
}

.login-wrapper .card-heading a {
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 1em;
}

.login-wrapper .card-heading a.active {
  border-bottom: 2px solid #f16342;
  color: #f16342;
  font-weight: 700;
}

.login-wrapper .tab.active {
  display: block;
}

.lost-pwd {
  color: #f16342;
  font-weight: 400;
}

.lost-pwd:hover {
  font-weight: 500;
}

.tab {
  display: none;
  padding-top: 1em;
}

.tab.active {
  display: block;
}

.login-wrapper .wrapper {
  padding: 1em 0;
}

.pt-2 {
  padding-top: 2em;
}

.m-w-100 {
  width: auto;
}

.terms {
  padding: 2em;
  font-size: 12px;
  border: 2px solid #dbdbdb;
  margin-top: 1em;
  height: 420px;
  overflow: auto;
}

.terms h5 {
  padding: 1em 0;
}

.terms hr {
  padding: 1px 0;
  margin: 1em 0;
}

/* Inner Pages */
.page .banner-card {
  width: 320px;
  text-align: left;
}

.page-banner .card-text p {
  font-size: 12px;
  line-height: 18px;
  color: gray;
  font-weight: 400;
}

.page .page-banner .icons-wrapper {
  padding-right: 0.8em;
  margin-top: -10px;
}

.page .page-banner img {
  width: 320px;
}

.page .page-banner {
  background-color: #fffafa;
  padding: 1em 4em;
}

.page .icons-wrapper .links {
  background-color: #fffafa;
}

.page-title {
  font-size: 41px;
  margin-top: 1em;
  width: 35%;
}

.section-title.page-title span.before {
  left: -8%;
}

.section-title.page-title span.after {
  right: -8%;
}

.section-title.page-title::after {
  right: -30.5%;
}

.section-title.page-title::before {
  left: -30.5%;
}

.section-title.page-title::before,
.section-title.page-title::after {
  top: 36%;
}

.products-section .single-product {
  border: 1px solid darkgrey;
  padding: 7px;
  width: 24.1%;
  margin: 5px;
  margin-bottom: 5px;
  margin-bottom: 3em;
}

/* Single Product */
.details {
  width: 80%;
}

.fixed-width {
  padding: 1em 5.5em;
}

.page-title-alt {
  font-size: 25px;
  margin-top: 1.8em;
  width: 45%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #151414;
}

.page-title-alt a {
  color: var(--default);
}

.product-detail .details h1 {
  font-size: 32px;
  text-transform: capitalize;
  color: var(--orange);
  font-weight: 500;
}

.product-detail .details h1 small {
  font-size: 22px;
  color: #107710;
  text-transform: uppercase;
}

.product-detail .details .caption {
  margin-top: 1em;
  color: #7b7070;
  font-size: 14px;
}

.product-detail .details .bottom {
  margin-top: 3em;
}

.product-detail .details .price-type h4 {
  font-size: 18px;
  font-weight: 400;
}

.product-detail .details .price-type span {
  color: #2c2828;
  font-size: 19px;
}

.product-detail .details .left,
.product-detail .details .right {
  width: 42%;
}

.product-detail .details .left {
  border-right: 1px solid lightgrey;
}

.product-detail .details .right {
  margin-left: 4em;
}

.product-detail .details .delivery-date {
  margin: 1.5em 0 1em 0;
  border: 1px solid lightgrey;
  padding: 10px 15px;
}

.font-12 {
  font-size: 12px !important;
}

.font-light {
  color: #7b7070;
}

.font-dark {
  color: #2c2828;
}

.details .delivery-date label {
  display: block;
}

.details .delivery-date input {
  width: 100%;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  text-shadow: none;
  padding: 5px 5px;
  margin-top: 3px;
  border-bottom: 1px solid var(--green);
  color: #2c2828;
  font-size: 12px;
}

.details .order-count {
  border: 1px solid lightgrey;
  padding: 3px 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.order-count a {
  font-size: 23px;
  font-weight: 400;
  color: grey;
}

.order-count input {
  border: none;
  width: 40px;
  text-align: center;
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
}

.button .fas {
  margin-right: 5px;
}

.add-to-cart {
  background-color: var(--green);
  color: snow;
  margin-right: 10px;
  font-weight: 600;
}

.order-now {
  color: var(--green);
  margin-right: 10px;
  border: 1px solid var(--green);
  font-weight: 600;
}

.order-now:hover {
  background-color: var(--green);
  color: snow;
}

.add-to-cart:hover {
  color: var(--green);
  border: 1px solid var(--green);
  background-color: transparent;
}

.share-options {
  margin: 1.5em 0;
}

.share-options a {
  margin-left: 10px;
  font-size: 22px;
}

.share-options a:hover {
  transform: scale(1.2);
}

.fb-color {
  color: #4267b2;
}

.tw-color {
  color: #4a99b9;
}

.ln-color {
  color: #0e76a8;
}

.pi-color {
  color: #ff0000;
}

.card-options {
  padding: 2px;
  border: 1px solid lightgray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-options span {
  color: #2c2828;
  font-size: 21px;
  margin-right: 1em;
}

.product-images {
  padding-right: 2em;
  margin-top: 5px;
}

.product-images .thumbnails {
  flex: 0 1 19.49%;
}

.product-images .main-image {
  flex: 0 1 80.49%;
}

.product-images .main-image img {
  width: 100%;
  height: 428px;
  border: 1px solid lightgray;
  padding: 2px;
}

.product-images .thumbnails img {
  height: 100px;
  width: 100%;
  border: 1px solid lightgray;
  padding: 2px;
}

.product-images .thumbnails a {
  margin-bottom: 5px;
}

.product-description .tabs.active {
  background-color: var(--green);
  color: snow;
  position: relative;
}

.product-description .tabs i {
  display: none;
}

.product-description .tabs.active i {
  display: initial;
  color: var(--green);
  position: absolute;
  bottom: -12px;
  left: 45%;
  font-size: 20px;
}

.tab {
  margin-bottom: 0.3em;
  line-height: 20px;
  font-size: 13px;
  min-height: 220px;
}

.number-list {
  list-style-type: numeric;
  font-size: 13px;
  padding-left: 1em;
}

.number-list li {
  margin-bottom: 0.3em;
  line-height: 20px;
}

.related-products {
  margin-top: 2em;
}

.thumbnails .thumb {
  opacity: 0.9;
}

.thumbnails .thumb.active {
  opacity: 1;
}

.thumbnails .thumb.active img {
  border-color: var(--orange);
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-heading {
  border: 1px solid lightgrey;
  border-bottom: none;
  justify-content: right;
  padding: 0 10px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  padding: 1.5em;
  padding-bottom: 3em;
}

.modal-content.modal-large {
  width: 70%;
  padding: 5px;
}

.modal-text h4 {
  font-weight: 500;
  margin-bottom: 5px;
}

.modal-text .caption a {
  text-decoration: underline;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: 400;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Login modal */
.form-block .left {
  padding-right: 1em;
  margin-top: 5px;
}

.form-block .right {
  padding-left: 1em;
  margin-top: 3em;
}

.form-block .flex {
  align-items: flex-start;
}

.form-wrap {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0em;
}

.form-wrap input,
.form-wrap textarea {
  border: 1px solid darkgrey;
  padding: 7px 10px;
  margin-top: 5px;
  margin-bottom: 1em;
  width: 100%;
}

.form-wrap label {
  margin-top: 1em;
}

.button-wraps .button {
  display: block;
  width: 100%;
  color: snow;
  border: none;
  margin-bottom: 1em;
  text-align: center;
}

.button.login-btn {
  background: var(--orange);
  margin-bottom: 5px;
}

.social-login {
  margin-top: 6px;
}

.social-login .fb-login {
  background: #4267b2;
  text-transform: capitalize;
}

.social-login .gl-login {
  background: #c12f2f;
}

.social-login a i {
  margin-right: 10px;
}

/* Shipping Details */
.m-l-2 {
  margin-left: 23px;
}

.shipping-details {
  width: 60%;
}

.shipping-details h2 {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.info a {
  text-transform: uppercase;
  font-size: 13px;
}

.icon-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 1em;
}

.icon-text i {
  margin-right: 10px;
}

.client-address {
  padding-left: 23px;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.extra-message {
  border: 2px dotted var(--green);
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}

.extra-message span {
  display: block;
  font-weight: 600;
  padding-right: 2em;
  font-size: 13px;
}

.subinfo {
  justify-content: center;
  margin-top: 0.5em;
}

.subinfo small {
  margin-right: 1em;
}

.shipping-details .bottom,
.shipping-details .card-options,
.shipping-details table {
  margin-top: 1em;
}

.shipping-details .table {
  width: 100%;
}

.shipping-details .table td {
  padding-bottom: 12px;
  width: 50%;
  font-size: 13px;
}

.shipping-details .table span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: var(--default);
}

.proceed-to-pay {
  display: block;
  background-color: var(--default);
  color: snow;
  text-align: center;
  text-transform: capitalize;
}

/* Cart Page */
.cart-detail .n8 {
  padding-right: 5px;
}

.cart-detail .n4 {
  padding-left: 5px;
}

.table label {
  display: block;
  margin-bottom: 5px;
}

td.va-top {
  vertical-align: baseline;
  line-height: 22px;
}

.table h4 {
  font-size: 13px;
  text-transform: capitalize;
  padding-right: 1em;
}

.table .block {
  color: var(--default);
  font-weight: 600;
  margin-bottom: 15px;
}

.va-top span,
.va-top h4 {
  padding-left: 0.5em;
}

.va-top .order-count a {
  background-color: #efe8e8;
  padding: 0px 9px;
}

/* Cart pop */
.cart-product {
  width: 59.44%;
  border: 1px solid lightgrey;
  margin-bottom: 0.5em;
  padding: 0.5em;
  height: 180px;
}

.order-summary {
  width: 40.44%;
  border: 1px solid lightgrey;
  padding: 0.5em;
  min-height: 180px;
}

.shipping-details .order-summary {
  width: 75%;
}

.alert {
  display: block;
  padding: 5px 5px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert.success {
  color: #228b22;
}

.main-block {
  align-items: flex-start;
  padding-bottom: 2em;
}

.image-wrap {
  width: 20%;
}

.prod {
  width: 70%;
  padding-top: 6px;
  line-height: 22px;
}

.prod .block {
  display: block;
  color: var(--default);
  font-weight: 600;
}

.last {
  align-self: flex-end;
}

.order-summary h4 {
  font-size: 15px;
}

.order-summary .flex {
  justify-content: space-between;
  padding: 10px 5px;
}

.order-summary .default {
  color: var(--default);
  font-weight: bold;
}

.order-summary .buttons a {
  width: 48%;
  text-transform: uppercase;
}

.proceed-to-pay.alt {
  background-color: snow;
  color: var(--default);
  font-weight: 600;
  border: 2px solid;
  padding: 8px 10px;
}

.toprow {
  align-items: flex-start;
}

.product-rate {
  min-width: 140px;
}

.product-qty {
  min-width: 140px;
}

.about-product {
  min-width: 320px;
}

.cart-wrapper.alt {
  width: 60.49%;
}

.shipping-details-wrapper {
  width: 39.49%;
  padding: 1em;
  padding-top: 8px;
}

.shipping-details-wrapper .shipping-details {
  width: 85%;
  border: 1px solid lightgrey;
  padding: 0.5em 1em;
}

.table td.form-wrap {
  width: 70%;
}

.apply-coupon {
  background-color: var(--orange);
  color: snow;
}

.form-wrap.alt input {
  padding: 10px 10px;
  margin-top: 0px;
  margin-bottom: 0em;
}

.review-tab .flex {
  align-items: flex-start;
}

.reviews-list {
  padding: 2em;
  border: 1px solid #efefef;
  margin-right: 1em;
}

.single-review {
  margin-bottom: 1em;
}

.single-review .user {
  width: 19.44%;
  display: flex;
  align-items: flex-start;
}

.single-review .review {
  width: 80.44%;
}

.single-review .user i {
  padding: 1em;
  border: 1px solid #efefef;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(241 99 66 / 90%);
  color: snow;
}

.single-review .user p {
  font-weight: 600;
  color: #1e9e9e;
  font-size: 14px;
}

.single-review .review .block {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-left: 1em;
}

.review-title {
  font-weight: 600;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-respond {
  margin-top: 2em;
}

.review-form {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 1em;
}

.review-form h2 {
  padding: 0.5em 0;
  margin-bottom: 1em;
  font-weight: 500;
}

.review-form * {
  display: block;
}

.button.submit-review {
  background-color: var(--green);
  color: snow;
  margin-top: 1em;
}

/* Banner category 2 */
.categories-list ul li {
  display: flex;
}

.category-list .subcats .close {
  display: none;
}

.categories-list ul li {
}

.categories-list ul li ul {
}

.dropdown-sublist {
  position: absolute;
  right: 0;
  background-color: #f3f3f3;
  z-index: 1;
  top: 2rem;
  font-size: 12px;
  color: grey;
  text-align: center;
}

.dropdown-sublist li a {
  color: grey;
}

.dropdown-sublist li {
  padding: 10px 10px;
}

.dropdown-sublist li:hover {
  background-color: snow;
}
